html,body
{
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    background-color: #191919;
}
/*This set consist of all the css part of the HackerRIT Menu Bar for login*/
.banner{
  border:none;
  box-shadow: 0 0 5px 0;
  height:60px;
  width:100vw;
  display:flex;
}
#banner1{
  flex:12;
}
#banner2{
  flex:1;
}
#banner3{
  flex:1;
}
.logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  
}
.logoTitle{
  font-size:30px;
  position:relative;
  top:10px;
  left:5px;
  font-family: Georgia;
  color: #2B4156;
}
a{
  cursor:pointer;
}
.login,.comp,.discuss{
  display: inline-block; 
  border:none;
  height:60px;
  width:100%;
  margin-right:30px;
  background-color: white;
  font-size:25px;
  color:#59b1e0;
  transition: .5s;
  padding:10px 0 0 10px;
}

.signup {
  display: inline-block; 
  border:none;
  height:60px;
  width:150px;
  font-size: 20px;
  background-color:#59b1e0;
  color:white;
  transition: .5s;
  padding:10px 0px 0px 10px; 
}
.login:hover,.comp:hover,.discuss:hover{
   background-color: #eaf3f7;
}
.signup:hover{
   background-color: #52a3ce;
}
.banner .icon{
  display:none;
}
.dropdown{
  display:none;
}
@media screen and (max-width: 450px) {
  .banner{
    width:100vw;
  }
  .login,.signup,.comp,.discuss{
     display:none;
  }
  .dropdown{
    display:inline;
    position:relative;
    right:50px;
    
  }

}
                      /*-----------------------------------------------------------------------------------*/
.parallax{
   background-image: url("http://codingbasics.net/wp-content/uploads/2014/04/computer-programming.jpeg");
  opacity:.9;
  height: 75%; 
    width:100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.kword{
  background-color: #191919;
  font-size:40px;
  text-align:center;
  color: #66FCF1;
  font-family:sans sherif;
}
.about{
  color:white;
  max-width:80%;
  font-size:20px;
  border:double;
  border-color: #66FCF1;
  background-color: #191919;
  padding: 10px 5px 10px 10px;
  margin:10px auto 10px auto;
  border-radius:10px;
}
.btn-danger{
  position:relative;
  right:15px;
  }
.btn-info{
  position:relative;
  left:15px;
  }
@media screen and (max-width: 450px) {
  .kword{
    font-size:30px;
  }
  .btn-info{
  position:relative;
    left:0;
  }
  .btn-danger{
  position:relative;
  right:0px;
  }
  }
.items{
  width:100%;
  background-image:url("http://www.designbolts.com/wp-content/uploads/2013/12/Silver-Snow-Flakes-Wrapping-Papper-Pattern-2.png");
  border:none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 margin-top:50px;
  padding-top:5px;
  min-height:300px;
   }
.itemTitle{
  font-family: impact;
  font-size:50px;
}
.icons{
  display:flex;
  justify-content: center;
  
}
.icon{
  border-radius:5px;
  background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 44%,#066dab 100%);
  max-width:200px;
  max-height:200px;
  padding-top:10px;
  border:double;
  border-width: 8px;
  box-shadow: 0 8px 20px -6px black;
  flex:1; 
  flex-basis:10%;
  margin:10px 20px 10px 20px;
  }
.icon img{
  border-radius:5px;
  max-width:70px;
  max-height:70px;
}
h3{
  position:relative;
  bottom:12px;
  font-size:20px;
}
@media screen and (max-width: 450px) {
  .icons{
    flex-wrap:wrap;
  }
}
                                      /*---------------------------------------*/

.images {display:none}


.gallery {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.images img{
  max-height:500px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  color: white;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color:rgba(72, 72, 73,0.8)
  
}
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 15px;}
}

hr{
  width:80%;
}
.sites{
  margin:auto;
}
.sites a{
  margin:5px 10px 5px 10px;
}
